.sketchDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
}

.sketchDiv div {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    opacity: 0;
}